<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.name %></td>
        <td><%= evaluation.password %></td>
        <td><%= link_to 'Add Question', [evaluation.topic, evaluation] %></td>
        <td><%= link_to 'Edit', edit_topic_evaluation_path(evaluation.topic, evaluation) %></td>
        <td><%= link_to 'Destroy', [evaluation.topic, evaluation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_topic_evaluation_path, class: "btn btn-default" %>
