<p id="notice"><%= notice %></p>

<h1>Quiz Result</h1>

<p>
  <strong>Name:</strong>
  <%= @evaluation.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @evaluation.password %>
</p>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Date</th>
      <th>Action</th>
      <th>Score</th>
      <th>Checked</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.each do |quiz| %>
      <tr>
        <td><%= quiz.user.name %></td>
        <td><%= quiz.user.classrooms.collect { |a| a.name }.join(" ") %></td>
        <td><%= quiz.created_at.to_formatted_s(:long) %></td>
        <td><%= link_to 'check', [quiz.evaluation.topic, quiz.evaluation,quiz] %></td>
        <td><strong><%= total = quiz.scores.count * 100 / @evaluation.questions.count %></strong</td>
        <td><% if quiz.scores.any? %>
            <i class="fa fa-check"></i>
           <% else %>
             Not yet
           <% end %>
        </td>
        <td><%# link_to 'Edit', edit_topic_evaluation_path(evaluation.topic, evaluation) %></td>
        <td><%# link_to 'Destroy', [evaluation.topic, evaluation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', topic_evaluations_path(@topic), class: "btn btn-primary"%>
