<br />
<br />
<div class="row">
  <div class="spacer"></div>
  <div class="col-xs-12">
  <div class="spacer"></div>
</div>
<div class="col-xs-8">
  <div class="panel panel-default">
    <div class="panel-body">

<%= form_for [@quiz.evaluation, @quiz], url: answer_quizzes_topic_evaluations_path , multiple: true do |f| %>
<ol>
<% for question in @evaluation.questions %>
  <li><h2><%= h question.text %></h2></li>
  <%= f.fields_for :tasks do |task_form| %>
  <% for choice in question.choices %>
    <p class="choice">
      <%= task_form.radio_button :answer, choice.text %>
      <%= f.label "choice_".concat(choice.id.to_s).to_sym, choice.text %>
    <br />
    </p>
  <% end %>

  <% unless question.choices.any? %>
     <div class="form-group">
        <%= task_form.text_area :answer, placeholder: "Your Answer", class: "form-control" %>
     </div>
  <% end %>

  <% end %>
<% end %>
</ol>
    </div>
  </div>
    <%= submit_tag "Finish" %>
<% end %>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><p id="question"> Total Questions <%= @evaluation.questions.size %></p></h2>
    </div>
  </div>
</div>

</div>
