<br />
<br />
<div class="row">
  <div class="spacer"></div>
    <div class="col-md-12">
      <div class="spacer"></div>
</div>
<h5>Quiz id : <%= @quiz.id %></h5>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">

<ol><% a = 1 %>
<% @kennel = [] %>
   <% 1.times do %>
   <% @kennel << Score.new %>
   <% end %>
  <%= form_tag topic_evaluation_quiz_scores_path(@topic, @evaluation, @quiz) do %>
  <% for question in @evaluation.questions %>
  <li><h4>
  <div class="well">
    <%= h question.text %>
  </div>
  </h4></li>

  <ul><% a = a + 1 %>
    <h3>
      <% answer = @quiz_all.all.map {|x| x.answer}[a-2] %>
    </h3>
    <% for choice in question.choices %>
      <% if answer.include?(choice.text.to_s) %>
         <i class="fa fa-times"></i>
      <% end %>
      <% unless answer.include?(choice.text.to_s) %>
        <i class="fa fa-circle-o-notch"></i>
      <% end %>
          <%= h choice.text %> <% if choice.correct %><i class="fa fa-check"></i><% end %>
     </p>
   <% end %>
 </ul>
   <% unless question.choices.any? %>
        <ul>
          <p class="lead"><i class="fa fa-quote-left"> <%= answer %></i></p>
        </ul>
  <% end %>
    <p class="choice">
     <% @kennel.each do |puppy| %>
       <%= fields_for 'scores[]', puppy do |p| %>
         <p class="text-right"><%= p.check_box(:value, {}, "true", nil) %> True </p>
       <% end %>
    <% end %>
    </p>
<% end %>
</ol>

      </div>
    </div>
      <p class="text-right"><%= submit_tag "Finish", class: "btn btn-large" %></p>
  <% end %>
  </div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
       <p id="question">
         <%= link_to (image_tag @quiz.user.photo.url,:width =>             100, :height => 120, :crop => :fill, :class => "avatar img-circle img-thumbnail", :alt => "", :class => "img-responsive")%>
         Id              : <%= @quiz.user.identity %><br />
         Name            : <%= @quiz.user.name %><br />
         Classroom	 : <%= @quiz.user.classrooms.collect {|a| a.name }.join(" ") %><br />
         Date 		 : <%= @quiz.created_at.to_formatted_s(:long) %><br />
         <% unless @quiz.scores.any? %>
           the result have'nt checked
         <% else %>
           <strong>correct : <%= @quiz.scores.size %></strong><br />
           <strong>Final Score : <%=  total = @quiz.scores.count * 100 / @evaluation.questions.count %></strong>
         <% end %>

       </p>

    </div>
  </div>
</div>

</div>
