<span class="text-default"><h3>My Courses</h3></span>

<span class="text-default">Management course for your teach</span>

<br />
<br />
<ul class="nav">
    <% @topics.each do |topic| %>
    <div class="nav-collapse">
    <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag topic.avatar.url, :width => 100, :height => 120, :crop => :fill %>
    </a>
    </div>
<h3><span class="text-default"><%= link_to topic.level, topic_units_path(topic.id), class: "newsomething" %>
</span></h3>
<span class="text-default"><%= topic.description %>
</span>
<nav>
  <ul class="pager">
    <li class="next"><%= link_to "See Course", topic_units_path(topic.id) %>
     </li>
  </ul>
</nav>
<% if can? :edit, Topic %>
  <%= link_to 'Edit', edit_user_topic_path(topic.user, topic) %>
<% end %>
<% if can? :destroy, Topic %>
  <%= link_to 'Destroy', [topic.user, topic], method: :delete, data: { confirm: 'Are you sure?' } %>
   <% end %>
</div>
</ul>
<hr />
    <% end %><br />
<% if can? :create, Topic %>
<nav>
  <ul class="pager">
    <li class="previous"><%= link_to 'New Topic', new_user_topic_path%>
     </li>
  </ul>
</nav>
<% end %>
<br />
