<br />
<br />
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title"><%= link_to @topic.level, topic_units_path(@topic) %></h3>
</div>

<div class="panel-body">
<p class="lead">
  Code Course : <%= @topic.identity %>
</p>

<p class="lead">
  Chs : <%= @topic.chs %>
</p>

<p class="lead">
  Semester : <%= @topic.semester %>
</p>

<p class="lead">
  Lecturer : <%= @topic.user.name %>
</p>

<p class="lead">
<%= @topic.description %>
</p><br/>
<% if can? :edit, Topic %>
  <%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-warning" %>
<% end %>
<%= link_to "Back", user_topics_path(@topic.user.id), class: "btn btn-danger" %><br />
</div>
</div>
<% if can? :create, Topic %>
  <%= link_to 'Create Units', topic_units_path(@topic), class: "btn btn-info" %>
<% end %>
