<%= form_for @user, :html => { :multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <% if admin? && @user %>
   <div class="input-group input-group-lg">
    <%= f.label :id %>
    <%= f.number_field :identity, placeholder: "Id", class: "form-control", required: true%>
  </div><br>

  <div class="input-group input-group-lg">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control", required: true %>
  </div><br>
  <% end %>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo, required: true %>
  </div><br>


  <div class="input-group input-group-lg">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true%>
  </div><br>

  <div class="input-group input-group-lg">
    <%= f.label :phone %>
    <%= f.number_field :phone, placeholder: "Phone",  class: "form-control", required: true %>
  </div><br>

 <div class="input-group input-group-lg">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Address", class: "form-control", required: true %>
  </div><br>

   <div class="input-group input-group-lg">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Can't be blank",class: "form-control", required: true  %>
  </div><br>

  <% if admin? && @user %>
  <div class="field"><br />
    <%= f.label "role" %><br>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true }, required: true) %>
  </div><br>
  <% end %>
  <div class="actions">
    <%= f.submit "create", class: "btn btn-primary" %> <%= link_to 'Back', users_path, class: "btn btn-danger" %>
  </div>

<% end %>
