<br />
<%= link_to 'New User', new_user_path, class: "btn btn-lg" %> ||
<%= paginate @users %>

<div class="panel panel-info">
  <div class="panel-heading">Users Management</div>
    <div class="panel-body">
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="info">Id</th>
      <th class="info">Name</th>
      <th class="info">Role</th>
      <th class="info">Email</th>
      <th class="info">Phone</th>
      <th class="info">Address</th>
      <th class="info" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.identity %></td>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user, class: "btn btn-mini" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Destroy', user,class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
