<div class="row">
<h1>Listing User</h1>
<br><div class="col-md-8">
<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
</div>
<div class="col-md-4">
            <%= form_tag(users_path, :method => 'get', id: 'search-form') do %>
            <div class="input-group input-group-lg custom-search-form">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search" %>
              <span class="input-group-btn">
              <%= submit_tag "search", class: "btn btn-default fa fa-search "%>
             </button>
             </span>
             </div><!-- /input-group -->
        </div>
</div>
            <% end %>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="info">Id</th>
      <th class="info">Name</th>
      <th class="info">Role</th>
      <th class="info">Email</th>
      <th class="info">Phone</th>
      <th class="info">Address</th>
      <th class="info" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.identity %></td>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', user,class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
