<br />
<br />
<div class="row">
  <div class="spacer"></div>
  <div class="col-xs-12">
  <div class="spacer"></div>
</div>
<div class="col-xs-8">
  <div class="panel panel-default">
    <div class="panel-body">
<h2><p id="question"><%= @question.text %></h2>
<%= form_tag({:controller => "quiz", :action => "answer"}) do %>
  <% @choices.each do |choice| %>
    <p class="choice">
      <%= radio_button_tag(:choice, choice.id) %>
      <%= label_tag("choice_".concat(choice.id.to_s).to_sym, choice.text) %>
    </p>
  <% end %>

<div class="center">
  <%= submit_tag("Next", :class=> "submit") %>
</div>
<% end %>
</div>
</div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><p id="question">Question <%= @current + 1%> of <%= @total %></p></h3>
    </div>
  </div>
</div>
</div>
