<br/><br/><br/>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><h2><%= @topic.level %></h4></h2><br />
  </div>
<%= tabs %>
<hr/>
 <div class="panel-body">
    <p class="lead"><%= @topic.description %></p>
<% if can? :create, Unit %>
  <%= link_to 'New Units', new_topic_unit_path, class: "btn btn-primary"%>
<% end %>
  <%= link_to "Back", user_topics_path(@topic.user.id), class: "btn btn-danger" %>
 </div>

  <table class="table table-hover">
    <thead>
      <th colspan="3">Course Outlines</th>
    </thead>
 <% @units.each do |unit| %>
   <tbody>
   <td class="lead"><%= link_to unit.content, [unit.topic, unit], class: "text-primary" %></td>
   <td class="lead">Author <% if unit.user %> by <%= link_to unit.user.name, user_path(unit.user.id), class: "text-primary" %><% end %></td>
  <td>
    <% if can? :update, Unit %>
    <%= link_to 'Edit Units', edit_topic_unit_path(unit.topic, unit), class: "btn btn-warning" %>
    <% end %>
  </td>
  <td>
    <% if can? :destroy, Unit %>
    <%= link_to 'Destroy', [unit.topic, unit], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
    <% end %>
  </td>
<% end %>
  </tbody>
</table>

</div>
